.wrapper {
  background-color: var(--color-bg);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  margin: 2rem auto 0;
  min-height: calc(100vh - 250px);
  max-width: 70rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    justify-content: start;
  }
}
