.summary {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-gray-border);
}

.title {
  margin-bottom: 1rem;
  font-size: 24px;
}

.time {
  font-size: 0.8rem;
  color: var(--color-gray-text);
}

.body p {
  line-height: 2rem;
  white-space: pre-line;
}

.body p + p {
  margin-top: 2rem;
}

.body h2 {
  padding-bottom: 0.25rem;
  margin: 2rem 0;
  border-bottom: 1px solid var(--color-gray-border);
}

.body h3,
.body h4 {
  margin: 1rem 0;
}

.body p code {
  padding: 0.2rem;
  background-color: var(--color-gray-border);
  border-radius: 0.2rem;
}

.body a {
  color: var(--color-anchor);
}

.body a:hover {
  text-decoration: underline;
}

.body table {
  margin-top: 1rem;
  border-collapse: collapse;
}

.body th {
  padding: 1rem;
  text-align: left;
}

.body tbody tr {
  border-top: 1px solid var(--color-gray-border);
}

.body tbody tr td {
  padding: 1rem;
}

